.nav-container{
   padding: 1rem 0;
}
.nav-items{
    display: flex;
    justify-content: space-between;
}
#bright .nav-container{
    color: black;
}
.mobile-screen button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
}
